@using Dominio.Entidades
<h1>Lista de Publicaciones</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha Publicacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (Publicacion item in ViewBag.Publicacion)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.FchPublic.ToString("yyyy-MM-dd")</td>
                <th scope="row">@item.Nombre</th>
                <td>@item.Estados</td>
                <td>@item.Tipo()</td>
                <td><a href="Publicacion/VerArticulos?idPublicacion=@item.Id" class="btn btn-primary">Ver Articulos</a></td>
                <td><a href="" class="btn btn-success">Comprar</a></td>
            </tr>
            }
    </tbody>
</table>