@using Dominio.Entidades
<h1>Articulos de la publicacion @ViewBag.publiName.Nombre</h1>

;

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Articulo</th>
			<th scope="col">Categoria</th>
			<th scope="col">Precio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			@foreach (Articulo item in @ViewBag.publiName.ListarArticulos())
			{
			<tr>
				<th scope="row">@item.NombreArt</th>
				<td>@item.Categoria</td>
				<td>@item.PrecioVenta</td>

			</tr>
			}
	</tbody>
</table>